
<form>
    <label for="name">Name:</label>
    <input id="name" [(ngModel)]="user.name" name="name" required>
  
    <label for="email">Email:</label>
    <input id="email" [(ngModel)]="user.email" name="email" required disabled>
  
    <label for="mobile">Mobile:</label>
    <input id="mobile" [(ngModel)]="user.mobile" name="mobile" required>
  
    <label for="gender">Gender:</label>
    <input id="gender" [(ngModel)]="user.gender" name="gender" required>
  
    <label for="role">Role:</label>
    <input id="role" [(ngModel)]="user.role" name="role" required>
  
    <div *ngFor="let address of user.addresses; let i = index">
      <label for="street{{ i }}">Street:</label>
      <input id="street{{ i }}" [(ngModel)]="address.street" name="street{{ i }}" required>
  
      <label for="city{{ i }}">City:</label>
      <input id="city{{ i }}" [(ngModel)]="address.city" name="city{{ i }}" required>
  
      <label for="state{{ i }}">State:</label>
      <input id="state{{ i }}" [(ngModel)]="address.state" name="state{{ i }}" required>
  
      <label for="zipCode{{ i }}">ZIP Code:</label>
      <input id="zipCode{{ i }}" [(ngModel)]="address.zipCode" name="zipCode{{ i }}" required>
  
      <button type="button" (click)="removeAddress(i)">Remove Address</button>
    </div>
  
    <button type="button" (click)="addAddress()">Add Address</button>
  
    <button type="submit" (click)="onSubmit()">Update User</button>
  </form>
  